@-ms-viewport{
  width: device-width;
}

.jumbotron {
  	padding: 15px 15px;
  	margin-bottom: 10px;
}

.panel {
	margin-bottom: 10px;
}


/*menu.html*/
#menu {
  	padding: 15px;
}

#progressBar {
	margin-bottom: 5px;
}