@-ms-viewport{
  width: device-width;
}

.jumbotron {
  padding: 15px 15px;
  margin-bottom: 10px;
}

#btn-next, #btn-finish {
  margin-bottom: 5px;
  color: #337ab7;
}


/*menu.html*/
#menu {
  padding: 15px;
}

#pagination {
  float: right;
}