<div class="jumbotron">
  <h1>Hello, User!</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Ready To Make A Quiz?
  </p>
</div>


<div ng-controller="MainQuizV2Ctrl" layout-sm="column">
  <md-content layout-sm="column">
    <div class="panel panel-primary">
      <div class="panel-heading">Question 1</div>
        <form name="userForm">
          <div layout-sm="column">
            <md-input-container flex-sm>
              <label>What is your question?</label>
              <input ng-model="quiz.firstName">
            </md-input-container>
          </div>
        </form>
      </div>
    </div>

  </md-content>

  <md-content layout-sm="row">
    <div class="panel panel-primary" flex>
      <div class="panel-heading">Choose</div>
        <div class="md-padding">
          <md-radio-group class="btn-group" ng-model="data.group1" >
            <md-radio-button value="A" aria-label="Answer A">A</md-radio-button>
            <md-divider></md-divider>
            <md-radio-button value="B" aria-label="Answer B">B</md-radio-button>
            <md-divider></md-divider>
            <md-radio-button value="C" aria-label="Answer C">C</md-radio-button>
            <md-divider></md-divider>
            <md-radio-button value="D" aria-label="Answer D">D</md-radio-button>
          </md-radio-group>
        </div> 
      </div>
    </div>

  </md-content>

  <md-content layout-sm="row" id="answers">
  <!-- flex="75" -->
    <div class="panel panel-primary" flex>
      <div class="panel-heading">Answers</div>
        <form name="quizForm">
          <div class="md-padding">
              <md-input-container flex-sm>
                <label>Answer A</label>
                <input ng-model="quiz.answerA">
              </md-input-container>
              <md-input-container flex-sm>
                <label>Answer B</label>
                <input ng-model="quiz.answerB">
              </md-input-container>
              <md-input-container flex-sm>
                <label>Answer C</label>
                <input ng-model="quiz.answerC">
              </md-input-container>
              <md-input-container flex-sm>
                <label>Answer D</label>
                <input ng-model="quiz.answerD">
              </md-input-container>
          </div>
        </form>
      </div>
    </div>

  </md-content>
</div>

<div class="container">
  <nav>
    <ul id="pagination" class="pagination pagination-lg">
      <!-- <li>
        <a href="#/main" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li> -->
      <li><a href="#/menu">Finish</a></li>
      <li>
        <a href="#/questionTwo" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
