<div class="jumbotron">
    <h1>Hello, User!</h1>
    <p>What Do You Want To Do?</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<!-- <div class="row marketing">
  <div class="container">
    <div layout="row">
      <div class=" col-sm-12 col-xs-18"> 
        <div class="container" id="menu">
          <a href="#/main" class="waves-effect waves-light btn btn-primary btn-lg btn-block" id="btn-makeQuiz">Make Quiz!</a>
          <a href="#" class="waves-effect waves-light btn btn-success btn-lg btn-block" id="btn-viewQuiz">View Quiz!</a>
          <a href="#" class="waves-effect waves-light btn btn-danger btn-lg btn-block" id="btn-doQuiz">Do Quiz!</a>
          <a href="#/menuV2" class="waves-effect waves-light btn btn-primary btn-lg btn-block" id="btn-menuV2">Menu Version 2</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div>
    <md-content >
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button>{{title1}}</md-button>
        <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
        <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
        <md-button class="md-warn">{{title4}}</md-button>
      </section>
      <section layout="row" layout-sm="column" layout-align="center center">
        <md-button class="md-raised">Button</md-button>
        <md-button class="md-raised md-primary">Primary</md-button>
        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
        <md-button class="md-raised md-warn">Warn</md-button>
        <div class="label">raised</div>
      </section>
    </md-content>
  </div>
</div>