<div class="jumbotron">
	  <h1>Hello, User!</h1>
	  <p>What Do You Want To Do?</p>
	  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<div class="row marketing">
	<div class="container">
		<div layout="row">
			<div class=" col-sm-12 col-xs-12"> 
				<div ng-repeat="button in buttons track by $index" class="container" id="menu">
					<!-- <button ng-click="buttonClicked()" class="btn btn-primary btn-lg btn-block" id="btn-makeQuiz">{{button.name}}</button> -->
					<md-button ng-click="buttonClicked()" class="md-primary md-raised btn-lg btn-block">{{button.name}}</md-button>
					
				</div>
			</div>
		</div>
	</div>
</div>