<div class="jumbotron">
	  <h1>Hello, User!</h1>
	  <p>What Do You Want To Do?</p>
	  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>

<div class="row marketing">
	<div class="container">
		<div class="row">
			<div class=" col-sm-9 col-xs-18"> 
				<div class="container" id="menu">
					<a href="#/main" class="btn btn-primary btn-lg btn-block primary" id="btn-makeQuiz">Make Quiz!</a>
					<a href="#" class="btn btn-success btn-lg btn-block" id="btn-viewQuiz">View Quiz!</a>
					<a href="#" class="btn btn-danger btn-lg btn-block" id="btn-doQuiz">Do Quiz!</a>
				</div>
			</div>
		</div>
	</div>
</div>