<div class="jumbotron text-center">
	<h1>Hello, User!</h1>
  	<p>What Do You Want To Do?</p>
</div>

<div class="row marketing">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="panel panel-primary">
		          	<div class="panel-heading">Your Quiz!
		          	</div>

        			<div class="panel-body">
						<div ng-repeat="button in buttons" id="menu">
							<!-- <button ng-click="buttonClicked()" class="btn btn-primary btn-lg btn-block" id="btn-makeQuiz">{{button.name}}</button> -->
							<md-button ng-click="buttonClicked()" class="md-primary md-raised btn-lg btn-block">{{button.name}}</md-button>
						</div>
			  		</div>
				</div>
	  			<!-- <md-button ng-click="buttonClick()" class="md-warn md-raised btn-lg btn-block">YO
				</md-button> -->
			</div>
		</div>
	</div>
</div>