<div class="jumbotron">
  <h1>Hello, User!</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Last Question!
  </p>
</div>

<div class="row marketing">
  <div class="container">
    <div class="row">
      <div class=" col-sm-12 col-xs-12"> 
        <div class="panel panel-primary">
          <div class="panel-heading">Question 5</div>
          <div class="panel-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="What is your question" aria-describedby="basic-addon0">
              <span class="input-group-addon" id="basic-addon0">?</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class=" col-sm-12 col-xs-18"> 
        <div class="panel panel-primary">
          <div class="panel-heading">Answers</div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <input type="radio" name="optradio" id="option1" aria-label="...">
              </span>
              <input type="text" class="form-control" placeholder="Write your answer here" aria-describedby="basic-addon2">
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <input type="radio" name="optradio" id="option1" aria-label="...">
              </span>
              <input type="text" class="form-control" placeholder="Write your answer here" aria-describedby="basic-addon3">
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <input type="radio" name="optradio" id="option1" aria-label="...">
              </span>
              <input type="text" class="form-control" placeholder="Write your answer here" aria-describedby="basic-addon4">
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <input type="radio" name="optradio" id="option1" aria-label="...">
              </span>
              <input type="text" class="form-control" placeholder="Write your answer here" aria-describedby="basic-addon5">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <nav>
        <ul id="pagination" class="pagination pagination-lg">
          <li>
            <a href="#/questionFour" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#/menu">Finish</a></li>
          <li class="disabled">
            <a href="#/questionFive" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
