<div class="jumbotron text-center">
  <h1>Hello, User!</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Let's View Our Questions!
  </p>
</div>

<div class="row marketing">
  	<div class="container">
	    <div class="row">
	      	<div class=" col-sm-12 col-xs-12"> 
	          	<a href="" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">
					    Toggle Panel
			  	</a>
		        <div class="panel panel-primary">
		          	<div class="panel-heading">
			          	
					      {{viewQuestions.id}}
					    
		          	</div>


				    <div class="panel-body">
							{{viewQuestions.question}}
			  		</div>

		        </div>

		        <md-button ng-click="goBack()" class="md-warn md-raised btn-lg btn-block">
		          Back
		        </md-button>

		        <pre>q = {{question | json}}</pre></pre>
	      	</div>
	    </div>
  	</div>
</div>