<div class="jumbotron text-center">
  <h1>Hello, User!</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Let's Preview Our Questions!
  </p>
</div>

<div class="row marketing">
  	<div class="container">
	    <div class="row">
	      	<div class=" col-sm-12 col-xs-12"> 

		        <div ng-repeat="question in questions track by $index" class="panel panel-primary">
		          	<div class="panel-heading">
					      {{question.id}} : {{question.question}}

		          	</div>
					
					<div >
					    <div class="panel-body">
							<p>
								<b>Possible Answers:</b>
								<br>
								<div ng-repeat="answer in question.answers">
									<label>
									{{answer}}
									</label>
								</div>
								
								<br>
								<label>
								Correct: {{question.answers[question.correct]}}
								</label>
							</p>
				  		</div>
			  		</div>

		        </div>

	        	<md-button ng-click="backToMenu()" class="md-warn md-raised btn-lg btn-block">
		          Back
		        </md-button>
	      	</div>
	    </div>
  	</div>
</div>